/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2018, 7:57:56 AM
    Author     : Rofino Chunga Jr
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.login-box p{
    color: white;
}
p{
    margin-top: -15px;
    font-size: 15px;
}
 #title{
    text-decoration:none;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.login-box #btn-back{
    float: left;
    width: 30%;
    font-size: 18px;
    background: #f1eeee/*#1c8adb*/;
    border: none;
    color: black;
    cursor:  pointer;
    margin: 12px 0;
    border-radius: 2px; 
    padding: 6px 0;
}

